<?xml version="1.0"?>
<launch>
    <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip"/>
  <arg name="limited" default="false"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="3.0"/>
  <arg name="prefix" default="" />
  <arg name="jog_arm" default="false" />
  <arg name="rviz_conf" default="/home/ttsitos/catkin_ws/src/manos/manos_bringup/config/manos_DI.rviz"/>

  <include file="$(find manos_description)/launch/ur3_pg70_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- ur common -->
<!--   <include file="$(find ur_modern_driver)/launch/ur_common.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
    <arg name="prefix" value="$(arg prefix)" />
  </include> -->

  <node name="ur_hardware_interface" pkg="ur_modern_driver" type="ur_driver"
            output="screen" >
    <param name="robot_ip_address" type="str" value="$(arg robot_ip)"/>
    <param name="min_payload" type="double" value="$(arg min_payload)"/>
    <param name="max_payload" type="double" value="$(arg max_payload)"/>
    <param name="use_ros_control" type="bool" value="True"/>
    <param name="prefix" value="$(arg prefix)" />
  </node>

  <!-- <include file="$(find schunk_pg70)/launch/pg70_rs232_control.launch"/> -->
<!-- 
  <rosparam file="$(find manos_bringup)/config/schunk_pg70.yaml" command="load"/>
  <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" args="gripper_controller"/>
   -->

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <rosparam param="publish_frequency">200</rosparam>
  </node>
  
  <rosparam file="$(find manos_gazebo)/config/manos_jog_arm_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager"
    type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>

  <!-- Billard controller -->
  <group unless="$(arg jog_arm)">
    <rosparam file="$(find manos_gazebo)/config/manos_cartesian_controller.yaml" command="load"/>
    <node name="arm_controller_spawner" pkg="controller_manager"
        type="controller_manager" args="spawn manos_cartesian_velocity_controller"
        respawn="false" output="screen">
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_conf)"/>

  </group>

  <!-- Jog arm controller -->
  <group if="$(arg jog_arm)">
    <rosparam file="$(find manos_gazebo)/config/manos_jog_arm_controller.yaml" command="load"/>
    <node name="ros_control_controller_spawner" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load arm_controller">
    </node>

    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn joint_group_position_controller">
    </node>
  </group>

  <!-- Default controller -->
  <!-- <rosparam file="$(find manos_gazebo)/config/manos_controller.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" /> -->

</launch>
