<?xml version="1.0"?>
<launch>
    <arg name="limited" default="false"/>
    <arg name="cart_control" default="false"/>

    
    <group unless="$(arg cart_control)">
	    <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find manos_description)/urdf/ur3_pg70.urdf.xacro'" />
	    <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find manos_description)/urdf/ur3_pg70_limited.urdf.xacro'" />
    </group>


	<group if="$(arg cart_control)">
	    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find manos_description)/urdf/ur3_pg70_limited_control.urdf.xacro'" />
	</group>

</launch>