<?xml version="1.0"?>
<launch>
    <arg name="limited" default="false"/>
    <arg name="cart_control" default="true"/>
	<arg name="transmission_hw_interface" default="hardware_interface/VelocityJointInterface" />
	<arg name="kinematics_config" default="$(find ur_description)/config/ur3_default.yaml"/>    

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find manos_description)/urdf/ur3_new_driver.urdf.xacro'
	transmission_hw_interface:=$(arg transmission_hw_interface)
	kinematics_config:=$(arg kinematics_config)" />


</launch>

